# workspace drafts
**/drafts/
**/Scratches/
**/notes.md

# Local data storage for backend
data/api.sqlite*

data/*.json
!data/postalCodes.json

# dependencies
**/node_modules

# compiled output
front/dist

# misc
**/.DS_Store
*.log

# dotenv environment variables file
*.env

# IDE specific files
.idea
.vscode
