.custom-tooltip {
  background-color: var(--color-bg-primary);
  border: var(--line-width-1) solid var(--color-shadow-mid);
  padding: var(--m-s);
  border-radius: var(--border-radius-1);
  box-shadow: 0 2px 4px var(--color-shadow);
  color: var(--color-text-primary);
  font-family: var(--font-family-alt);
}

.custom-tooltip p {
  margin: 0;
  padding: var(--m-xs) 0;
}

.custom-tooltip .label {
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--m-xs);
}

/* Add this to your existing CSS */
@media (max-width: 768px) {
  .recharts-xaxis .recharts-text {
    display: none;
  }
}